/* :root {

}
   */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

textarea {
  resize: none;
  overflow: auto;
  height: 300px;
  width: 500px;
  outline: none;
}

textarea:hover{
  border: 1px solid black;
}